<ul>
  <li><button>{{#link-to 'about'}}About{{/link-to}}</button></li>
  <li><button>{{#link-to 'contact'}}Contact{{/link-to}}</button></li>
  <li><button>{{#link-to 'index'}}Home{{/link-to}}</button></li>
</ul>
{{outlet}}
