<div class="container jumbotron">
<h1>Question and answer message board</h1>
<p>Do you think you are brave enough?Try these!</p>
<ol>
  {{#each model.message as |message|}}
  {{message-popularity message}} {{message-tile message=message}}
  {{/each}}
</ol>

{{new-message saveMessage2="saveMessage3"}}
{{display-favourites message}}

<hr>
</div>
